{% extends "author/author_new.html" %}

{% load django_bootstrap5 %}

{% block title %}Delete author {{ object.full_name_short }}{% endblock %}
{% block content_title %}Delete author {{ object.full_name_short }}{% endblock %}


{% block actions %}{% endblock %}

{% block content_left %}
  <div class="col-6">
    <form action="{% url 'author_delete' pk=object.pk %}" method="POST">
      {% csrf_token %}
      {% bootstrap_form form %}
      <input type="submit" value="Delete">
    </form>
  </div>
{% endblock %}