{% extends "base_layout.html" %}

{% load django_bootstrap5 %}

{% block title %}Add new author{% endblock %}

{% block content_title %}Add new author{% endblock %}

{% block actions %}{% endblock %}

{% block content %}
<div class="container my-2 py-2 border">
  <div class="row justify-content-left">
    {% block content_left %}
      <div class="col-6">
        <form action="{% block form_action %}{% url 'author_new' %}{% endblock %}" method="POST">
          {% csrf_token %}
          {% bootstrap_form form %}
          <input type="submit" value="Save">
        </form>
      </div>
    {% endblock %}
    {% block content_right %}{% endblock %}
  </div>
</div>
{% endblock %}