{% extends "author/author_new.html" %}

{% block title %}Author {{ object.full_name_short }}{% endblock %}
{% block content_title %}Author {{ object.full_name_short }}{% endblock %}


{% block actions %}
<div class="container my-2 py-2 border justify-content-end">
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <form action="{% url 'author_update' pk=object.pk %}" method="GET">{% csrf_token %}<button type="submit" class="btn btn-secondary btn-sm">Update</button></form>
    <form action="{% url 'author_delete' pk=object.pk %}" method="GET">{% csrf_token %}<button type="submit" class="btn btn-danger btn-sm">Delete</button></form>
  </div>
</div>
{% endblock %}

{% block content_left %}
<div class="col-6">
  <ul>
    <li>{{ object.full_name }}</li>
  </ul>
  <span>Books:</span>
  <ul>
    {% for book in object.books.all %}
    <li><a href="{% url 'book_detail' pk=book.pk %}">{{ book.title }}</a> </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}