{% extends "year/year_new.html" %}

{% block title %}Year {{ object.pk }}{% endblock %}
{% block content_title %}Year {{ object.pk }}{% endblock %}


{% block actions %}
<div class="container my-2 py-2 border justify-content-end">
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <form action="{% url 'year_update' pk=object.pk %}" method="GET">{% csrf_token %}<button type="submit" class="btn btn-secondary btn-sm">Update year</button></form>
    <form action="{% url 'year_delete' pk=object.pk %}" method="GET">{% csrf_token %}<button type="submit" class="btn btn-danger btn-sm">Delete year</button></form>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container my-2 py-2 border">
  <div class="row">
    <div class="col-2">
      <ul>
        {% for year in object_list %}
        <li>
          <a href="{% url 'year_detail' pk=year.pk %}">{{ year.pk }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-10">
      <div class="container border">
        <div class="row">
          <div class="col-12">
            <ul>
              <li>Year: {{ object.pk }}</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <span>Books:</span>
            <ul>
              {% for reading_log in object.reading_logs.distinct %}
              <li>
                <a href="{{ reading_log.book_edition.get_absolute_url }}">{{ reading_log.book_edition.title }}</a> /
                {% for author in reading_log.book_edition.authors.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{% url 'author_detail' pk=author.pk %}">{{ author.full_name_short }}</a>{% endfor %}
                {% if reading_log.book_edition.publisher %} - <a href="{% url 'publisher_detail' pk=reading_log.book_edition.publisher.pk %}">{{ reading_log.book_edition.publisher }}</a>{% endif %}
                {% if reading_log.book_edition.publication_year %} - {{ reading_log.book_edition.publication_year }}{% endif %}
                {% if reading_log.book_edition.series %} - (<a href="{% url 'book_series_detail' pk=reading_log.book_edition.series.pk %}">"{{ reading_log.book_edition.series.name }}"</a>){% endif %}
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
