{% extends "base_layout.html" %}

{% block title %}Reading log{% endblock %}

{% block content_title %}Reading log{% endblock %}

{% block actions %}
<div class="container my-2 py-2 border justify-content-end">
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <form action="{% url 'reading_log_new' %}" method="GET">{% csrf_token %}<button type="submit" class="btn btn-primary btn-sm">Add reading log</button></form>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container my-2 py-2 border">
  <form method="get" class="mb-2 d-flex w-100 align-items-center">
    <div class="flex-grow-1">
      <label for="page_size" class="me-2">Показывать по:</label>
      <select name="page_size" id="page_size" class="form-select form-select-sm w-auto d-inline" onchange="this.form.submit()">
        {% for size in page_size_choices %}
          <option value="{{ size }}" {% if page_size_selected == size %}selected{% endif %}>{{ size }}</option>
        {% endfor %}
      </select>
      <noscript><button type="submit" class="btn btn-sm btn-secondary">OK</button></noscript>
    </div>
    {% if is_paginated %}
    <div class="d-flex justify-content-end flex-grow-1">
      <nav>
        <ul class="pagination pagination-sm mb-0">
          {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link btn btn-sm btn-outline-secondary" href="?page={{ page_obj.previous_page_number }}&page_size={{ page_obj.paginator.per_page }}">&laquo;</a></li>
          {% else %}
            <li class="page-item disabled"><span class="page-link btn btn-sm btn-outline-secondary">&laquo;</span></li>
          {% endif %}
          {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
              <li class="page-item active"><span class="page-link btn btn-sm btn-outline-secondary">{{ num }}</span></li>
            {% else %}
              <li class="page-item"><a class="page-link btn btn-sm btn-outline-secondary" href="?page={{ num }}&page_size={{ page_obj.paginator.per_page }}">{{ num }}</a></li>
            {% endif %}
          {% endfor %}
          {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link btn btn-sm btn-outline-secondary" href="?page={{ page_obj.next_page_number }}&page_size={{ page_obj.paginator.per_page }}">&raquo;</a></li>
          {% else %}
            <li class="page-item disabled"><span class="page-link btn btn-sm btn-outline-secondary">&raquo;</span></li>
          {% endif %}
        </ul>
      </nav>
    </div>
    {% endif %}
  </form>
  <div class="row justify-content-left">
    <div class="col-12">
      <ul>
        {% for reading_log in page_obj %}
        <li>
          {{ reading_log }},
          <a href="{{ reading_log.book_edition.get_absolute_url }}">{{ reading_log.book_edition.title }}</a> /
          {% for author in reading_log.book_edition.authors.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{% url 'author_detail' pk=author.pk %}">{{ author.full_name_short }}</a>{% endfor %}
          {% if reading_log.book_edition.publisher %} - <a href="{% url 'publisher_detail' pk=reading_log.book_edition.publisher.pk %}">{{ reading_log.book_edition.publisher }}</a>{% endif %}
          {% if reading_log.book_edition.publication_year %} - {{ reading_log.book_edition.publication_year }}{% endif %}
          {% if reading_log.book_edition.series %} - (<a href="{% url 'book_series_detail' pk=reading_log.book_edition.series.pk %}">"{{ reading_log.book_edition.series.name }}"</a>){% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% if is_paginated %}
  <nav class="d-flex justify-content-end">
    <ul class="pagination pagination-sm mb-0">
      {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link btn btn-sm btn-outline-secondary" href="?page={{ page_obj.previous_page_number }}&page_size={{ page_obj.paginator.per_page }}">&laquo;</a></li>
      {% else %}
        <li class="page-item disabled"><span class="page-link btn btn-sm btn-outline-secondary">&laquo;</span></li>
      {% endif %}
      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <li class="page-item active"><span class="page-link btn btn-sm btn-outline-secondary">{{ num }}</span></li>
        {% else %}
          <li class="page-item"><a class="page-link btn btn-sm btn-outline-secondary" href="?page={{ num }}&page_size={{ page_obj.paginator.per_page }}">{{ num }}</a></li>
        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link btn btn-sm btn-outline-secondary" href="?page={{ page_obj.next_page_number }}&page_size={{ page_obj.paginator.per_page }}">&raquo;</a></li>
      {% else %}
        <li class="page-item disabled"><span class="page-link btn btn-sm btn-outline-secondary">&raquo;</span></li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
</div>
{% endblock %} 