{% extends "base_layout.html" %}

{% block title %}Index{% endblock %}

{% block content_title %}Home{% endblock %}

{% block content %}
<div class="container my-2 py-2 border">
  <div class="row justify-content-left">
    {% block content_left %}
    <div class="col-6">
      <span>Last reading:</span>
      <ul>
        {% for reading_log in last_reading_logs %}
        <li>{{ reading_log }}, <a href="{{ reading_log.book.get_absolute_url }}">{{ reading_log.book.title }}</a> ({% for author in reading_log.book.authors.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{% url 'author_detail' pk=author.pk %}">{{ author.full_name_short }}</a>{% endfor %})</li>
        {% endfor %}
      </ul>
    </div>
    {% endblock %}
    {% block content_right %}{% endblock %}
  </div>
</div>
{% endblock %}